@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@1,700&display=swap');

html {  
    max-width: 100%;  
}  

body {  
    margin: 0;  
    padding: 0;    
    font-family: "Mulish", sans-serif;  
    text-decoration: none;   
}  

.header {  
    background-color: #fff;   
    display:flex;   
    justify-content: space-between;   
    align-items: center;   
    padding: 10px 150px;   
}  

#logo {   
    color: #c8c8c8;  
    text-decoration: none;  
    font-size: 20px;    
    margin: 0 10px; 
}  

nav.list ul {  
    display: flex;  
    padding: 0;   
    margin: 0;   
    list-style: none;   
}  

nav.list li {  
    margin-left: 30px;   
}  

nav.list li a {  
    text-decoration: none;  
    color: #000;   
    font-size: 20px;  
    margin: 0 10px;   
}