html {

    max-width: 100%;
    height: 100%;

}

body {  

    margin: 0;  
    padding: 0;  

} 

.abagbread {  
    background: linear-gradient(#e9e9e9, #e3e3e3);  
    width: 100%;  
    height: 94vh;  
    display: inline-flex;  
    align-items: center;  
    justify-content: space-between;   
    position: relative;  
}  

#bread_1, #bread_2 {  
    height: 94vh; 
    object-fit: cover;  
}  

.text1 {   
    position: absolute; 
    left: 40%;  
    color: black;  
    margin: 0;
    top: 14vh;
    z-index: 1; /  

}

.text1 p {
    margin: 0;
}  

#text_1 {
    font-size: 50px;
    font-weight: 100;
}

#text_2 {
    font-size: 120px;
    font-weight: 600;
}

.text-box1, .text-box2, .text-box3 {

    padding: 15px; 
    box-sizing: border-box; 
    line-height: 1.4; 
    overflow: hidden; 
    display: inline-flex; 
    flex-direction: column;
    margin-bottom: 30px;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
}

.text-box1 {
margin-top: 100px;
    height: 250px;
    width: 300px;
  ;
}

.text-box2 {

    height: 250px;
    width: 240px;
}

.text-box3 {

    height: 250px;
    width: 300px;
}

.small-text-header {
    font-size: 25px;
    font-weight:  bold; 
    padding-bottom: 10px;
}

.small-text-content {
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.text-header { 
    font-weight: bold; 
    margin-bottom: 1em;
}

.text-content { 
    font-weight: normal; 
}

.pastry {

    background-color: #fff;
    width: 100%; 
    height: 74vh;

}

.tastybread {
    font-weight: bold; 
    display: flex;
    justify-content: center; 
    font-size: 40px;
    margin: 0;
    top: 4vh;
    padding-top: 4vh;  
    padding-bottom: 4vh;

}

.breadtable {

    background-color: #000; 
    height: 74vh; 
    display: flex;

}

.slip {

    background-color: #f1f1f1;
    width: 100%;  
    height: 217vh;

}


.chefandbread {

    background-color: #fff;
    width: 100%; 
    height: 67vh;

}

.sweetmenu {

    object-fit: cover;
    width: 100%; 
    height: 721px;
    background: rgba(0, 0, 0, 0.3);
    background-image: url('../img/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

#img_bg {
    width:100%;
    height: 721px;
    position: absolute;
    z-index: -1;
}

.freshbrad {

    background: #f6f6f6;
    width: 100%;  
    height: 110vh;
}

#abasketofbread {

    height: 65vh;
    position: absolute;
    margin-top: 6vh;
    margin-left: 27%;
}

.breadbasket {

    background: transparent;
    width: 100%;   
    height: 50vh;
    

}

#backgr_8 {
    width: 100%;
    height: 90%;
    z-index: -1;
    position: absolute;
}

.basement {

    background-color: #303030;
    width: 100%;   
    height: 20vh;

}

.bottom {
    color: white;
     text-align: center;
    font-size: 15px;
    padding-top: 50px;
}

.days {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.numbers {
    font-size: 23px;
    font-weight: bold;
    color: black;
    text-decoration-color:orange;
}

